body{
background-color:black;
scroll-behavior: smooth;
}

#ML{
width:600px;
margin-left:50px;
}

#title{
font-size:65px;
color:#ba9677;
font-family:Cinzel Decorative;
margin-left:600px;
margin-top:-175px;
}


#Squad{
font-size:65px;
color:#ba9677;
font-family:Cinzel Decorative;
margin-left:835px;
margin-top:-45px;
}

#Border{
width:1660px;
margin-top:15px;
}

#one{
width:509px;
text-align:center;
border: 11px solid #0d203b;
}

#two{
font-size:22px;
width:509px;
text-align:center;
border: 11px solid #0d203b;
color:white;
padding-top:20px;
padding-bottom:20px;
}

#three{
width:509px;
text-align:center;
border: 11px solid #0d203b;
}

#four{
width:509px;
text-align:center;
border: 11px solid #732871;
}

#five{
font-size:22px;
width:509px;
text-align:center;
border: 11px solid #732871;
color:white;
padding-top:20px;
padding-bottom:20px;
}

#six{
width:509px;
text-align:center;
border: 11px solid #732871;
}

#seven{
width:509px;
text-align:center;
border: 11px solid #aa1945;
}

#eight{
font-size:22px;
width:509px;
text-align:center;
border: 11px solid #aa1945;
color:white;
padding-top:20px;
padding-bottom:20px;
}

#nine{
width:509px;
text-align:center;
border: 11px solid #aa1945;
}

#ten{
width:509px;
text-align:center;
border: 11px solid #102b54;
}

#eleven{
font-size:22px;
width:509px;
text-align:center;
border: 11px solid #102b54;
color:white;
padding-top:20px;
padding-bottom:20px;
}

#twelve{
width:509px;
text-align:center;
border: 11px solid #102b54;
}

#thirteen{
width:509px;
text-align:center;
border: 11px solid #925735;
}

#fourteen{
font-size:22px;
width:509px;
text-align:center;
border: 11px solid #925735;
color:white;
padding-top:20px;
padding-bottom:20px;
}

#fifteen{
width:509px;
text-align:center;
border: 11px solid #925735;
}

#table1{
margin-top:0px;

}

#table2{
margin-top:0px;
}

#table3{
margin-top:0px;
}

#table4{
margin-top:0px;
}

#table5{
margin-top:0px;
}

#JL{
width:420px;
}

#MS{
width:420px;
}

#YN{
width:420px;
}

#XV{
width:420px;
}

#WW{
width:420px;
}

#SC{
width:65px;
margin-right:370px;
margin-top:12px;
}

#SW{
width:65px;
margin-right:370px;
margin-top:15px;
}

#CH{
width:65px;
margin-right:370px;
margin-bottom:25px;
margin-top:15px;
}

#scythe{
font-size:35px;
color:white;
margin-top:-265px;
margin-right:160px;
}

#sword{
font-size:35px;
color:white;
margin-top:38px;
margin-right:160px;
}

#chain{
font-size:35px;
color:white;
margin-top:40px;
margin-right:170px;
}

#DB{
width:65px;
margin-right:370px;
margin-top:12px;
}

#FL{
width:65px;
margin-right:370px;
margin-top:15px;
}

#GA{
width:65px;
margin-right:370px;
margin-bottom:25px;
margin-top:15px;
}

#D{
font-size:35px;
color:white;
margin-top:-263px;
margin-right:90px;
}

#Falling{
font-size:35px;
color:white;
margin-top:40px;
margin-right:150px;
}

#GY{
font-size:35px;
color:white;
margin-top:40px;
margin-right:110px;
}

#CP{
width:65px;
margin-right:370px;
margin-top:12px;
}

#IB{
width:65px;
margin-right:370px;
margin-top:15px;
}

#MT{
width:65px;
margin-right:370px;
margin-bottom:25px;
margin-top:15px;
}

#Charge{
font-size:35px;
color:white;
margin-top:-265px;
margin-right:25px;
}

#Instant{
font-size:35px;
color:white;
margin-top:40px;
margin-right:60px;
}

#Turn{
font-size:35px;
color:white;
margin-top:40px;
margin-right:120px;
}

#IE{
width:65px;
margin-right:370px;
margin-top:12px;
}

#MF{
width:65px;
margin-right:370px;
margin-top:15px;
}

#DL{
width:65px;
margin-right:370px;
margin-bottom:25px;
margin-top:15px;
}

#Infinite{
font-size:35px;
color:white;
margin-top:-265px;
margin-left:25px;
}

#Mystic{
font-size:35px;
color:white;
margin-top:38px;
margin-right:65px;
}

#Dawn{
font-size:35px;
color:white;
margin-top:40px;
margin-right:20px;
}

#SP{
width:60px;
margin-right:370px;
margin-top:20px;
}

#NF{
width:60px;
margin-right:370px;
margin-top:10px;
}

#CB{
width:60px;
margin-right:370px;
margin-bottom:25px;
margin-top:10px;
}

#Swallow{
font-size:35px;
color:white;
margin-top:-260px;
margin-right:20px;
}

#Needles{
font-size:35px;
color:white;
margin-top:35px;
margin-left:40px;
}

#Crossbow{
font-size:35px;
color:white;
margin-top:35px;
margin-left:20px;
}

@keyframes slideIn{
from 
{transform: translateX(-100%);
opacity: 0;}
to 
{transform: translateX(0);
opacity: 1;}
}

.animation,.slide1,.slide2,.slide3,.slide4,.slide5{
animation: slideIn 2s forwards;opacity: 0;
}

.slide1 {
animation-delay: 0.5s;
}

.slide2 {
animation-delay: 1.0s;
}

.slide3 {
animation-delay: 1.5s;
}

.slide4 {
animation-delay: 2.0s;
}

.slide5 {
animation-delay: 2.5s;
}


